<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
    <string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string> /</string>
	<key>secondSingleLineComment</key>
	<string>/ </string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*\w+\s*:\s*\{</string>
	<key>removeFromFunction</key>
	<string>:</string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>keywords</key>
	<array>
	<string>.z.D</string>
	<string>.z.N</string>
	<string>.z.P</string>
	<string>.z.T</string>
	<string>.z.W</string>
	<string>.z.Z</string>
	<string>.z.a</string>
	<string>.z.ac</string>
	<string>.z.b</string>
	<string>.z.d</string>
	<string>.z.exit</string>
	<string>.z.f</string>
	<string>.z.h</string>
	<string>.z.i</string>
	<string>.z.k</string>
	<string>.z.l</string>
	<string>.z.n</string>
	<string>.z.o</string>
	<string>.z.p</string>
	<string>.z.pc</string>
	<string>.z.pg</string>
	<string>.z.ph</string>
	<string>.z.pi</string>
	<string>.z.po</string>
	<string>.z.pp</string>
	<string>.z.ps</string>
	<string>.z.pw</string>
	<string>.z.s</string>
	<string>.z.t</string>
	<string>.z.ts</string>
	<string>.z.u</string>
	<string>.z.vs</string>
	<string>.z.w</string>
	<string>.z.x</string>
	<string>.z.z</string>
	<string>abs</string>
	<string>acos</string>
	<string>aj</string>
	<string>aj0</string>
	<string>all</string>
	<string>and</string>
	<string>any</string>
	<string>asc</string>
	<string>asin</string>
	<string>asize</string>
	<string>asof</string>
	<string>atan</string>
	<string>attr</string>
	<string>avg</string>
	<string>avgs</string>
	<string>bin</string>
	<string>boolean</string>
	<string>bsize</string>
	<string>by</string>
	<string>byte</string>
	<string>ceiling</string>
	<string>char</string>
	<string>cols</string>
	<string>cor</string>
	<string>cos</string>
	<string>count</string>
	<string>cov</string>
	<string>cross</string>
	<string>csv</string>
	<string>cut</string>
	<string>date</string>
	<string>datetime</string>
	<string>dd</string>
	<string>delete</string>
	<string>deltas</string>
	<string>depth</string>
	<string>desc</string>
	<string>dev</string>
	<string>differ</string>
	<string>distinct</string>
	<string>div</string>
	<string>do</string>
	<string>each</string>
	<string>ej</string>
	<string>enlist</string>
	<string>eval</string>
	<string>except</string>
	<string>exec</string>
	<string>exit</string>
	<string>exp</string>
	<string>fby</string>
	<string>fills</string>
	<string>first</string>
	<string>fkeys</string>
	<string>flip</string>
	<string>float</string>
	<string>floor</string>
	<string>from</string>
	<string>get</string>
	<string>getenv</string>
	<string>group</string>
	<string>gtime</string>
	<string>hclose</string>
	<string>hcount</string>
	<string>hdel</string>
	<string>hh</string>
	<string>hopen</string>
	<string>hsym</string>
	<string>http</string>
	<string>iasc</string>
	<string>idesc</string>
	<string>if</string>
	<string>ij</string>
	<string>in</string>
	<string>insert</string>
	<string>int</string>
	<string>inter</string>
	<string>inv</string>
	<string>key</string>
	<string>keys</string>
	<string>last</string>
	<string>like</string>
	<string>lj</string>
	<string>load</string>
	<string>log</string>
	<string>long</string>
	<string>lower</string>
	<string>lsq</string>
	<string>ltime</string>
	<string>ltrim</string>
	<string>mavg</string>
	<string>max</string>
	<string>maxs</string>
	<string>mcount</string>
	<string>md5</string>
	<string>mdev</string>
	<string>med</string>
	<string>meta</string>
	<string>min</string>
	<string>mins</string>
	<string>minute</string>
	<string>mm</string>
	<string>mmax</string>
	<string>mmin</string>
	<string>mmu</string>
	<string>mod</string>
	<string>month</string>
	<string>msum</string>
	<string>nbbo</string>
	<string>neg</string>
	<string>next</string>
	<string>not</string>
	<string>null</string>
	<string>or</string>
	<string>over</string>
	<string>parse</string>
	<string>peach</string>
	<string>pj</string>
	<string>plist</string>
	<string>prd</string>
	<string>prds</string>
	<string>prev</string>
	<string>price</string>
	<string>quote</string>
	<string>rand</string>
	<string>rank</string>
	<string>ratios</string>
	<string>raze</string>
	<string>read0</string>
	<string>read1</string>
	<string>real</string>
	<string>reciprocal</string>
	<string>reverse</string>
	<string>rload</string>
	<string>rotate</string>
	<string>rsave</string>
	<string>rtrim</string>
	<string>save</string>
	<string>scan</string>
	<string>second</string>
	<string>select</string>
	<string>set</string>
	<string>setenv</string>
	<string>short</string>
	<string>show</string>
	<string>signum</string>
	<string>sin</string>
	<string>sqrt</string>
	<string>ss</string>
	<string>ssr</string>
	<string>string</string>
	<string>sublist</string>
	<string>sum</string>
	<string>sums</string>
	<string>sv</string>
	<string>symbol</string>
	<string>system</string>
	<string>tables</string>
	<string>tan</string>
	<string>til</string>
	<string>time</string>
	<string>timespan</string>
	<string>timestamp</string>
	<string>trade</string>
	<string>trim</string>
	<string>txf</string>
	<string>type</string>
	<string>uj</string>
	<string>ungroup</string>
	<string>union</string>
	<string>update</string>
	<string>upper</string>
	<string>upsert</string>
	<string>uu</string>
	<string>value</string>
	<string>var</string>
	<string>view</string>
	<string>views</string>
	<string>vs</string>
	<string>wavg</string>
	<string>week</string>
	<string>where</string>
	<string>while</string>
	<string>within</string>
	<string>wj</string>
	<string>wsum</string>
	<string>xasc</string>
	<string>xbar</string>
	<string>xcol</string>
	<string>xcols</string>
	<string>xdesc</string>
	<string>xexp</string>
	<string>xgroup</string>
	<string>xkey</string>
	<string>xlog</string>
	<string>xprev</string>
	<string>xrank</string>
	<string>year</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>select</string>
		<string>update</string>
		<string>delete</string>
		<string>where</string>
		<string>from</string>
	</array>
</dict>
</plist>
